<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
</head>
<body>


<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand">수강신청시스템</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" th:href="@{/student/info}">개인정보</a>
                    <a class="nav-link" th:href="@{/enroll/on-semester/student}">수강중코스</a>
                    <a class="nav-link" th:href="@{/basket/list}">장바구니</a>
                    <a class="nav-link" th:href="@{/course/student}">코스목록</a>
                    <a class="nav-link" th:href="@{/enroll/not-semester/student}">수강완료코스</a>
                </div>
                <div class="navbar-nav ml-auto">
                    <a type="button" class="btn btn-danger" role="button" th:href="@{/logout}">로그아웃</a>
                </div>
            </div>
        </div>
    </nav>
</div>

<div>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">과목명</th>
            <th scope="col">과목코드</th>
            <th scope="col">분반</th>
            <th scope="col">수강년도</th>
            <th scope="col">수강학기</th>
            <th scope="col">학점</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="notSemesterEnrollmentResponse : ${NotSemesterEnrollmentPageableResponse.content}">
            <td th:text="${notSemesterEnrollmentResponse.subjectName}"></td>
            <td th:text="${notSemesterEnrollmentResponse.subjectCode}"></td>
            <td th:text="${notSemesterEnrollmentResponse.division}"></td>
            <td th:text="${notSemesterEnrollmentResponse.courseOpenYear}"></td>
            <td th:text="${notSemesterEnrollmentResponse.courseOpenSemester}"></td>
            <td th:text="${notSemesterEnrollmentResponse.scoreType}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination align-content-lg-center"
            th:with="
            start = ${T(java.lang.Math).floor(NotSemesterEnrollmentPageableResponse.number/10) * 10},
            end = ${NotSemesterEnrollmentPageableResponse.totalPages - 1},
            last = ${start + 9 <= end ? start + 9 : end}">

            <li class="page-item">
                <a class="page-link" th:href="@{/enroll/not-semester/student(page=${start - 10 >= 0 ? start - 10 : 0})}"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item" th:each="page : ${#numbers.sequence(start, last < 0 ? 0 : last)}">
                <a class="page-link" th:href="@{/enroll/not-semester/student(page=${page})}" th:text="${page+1}"></a>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="@{/enroll/not-semester/student(page=${start + 10 >= end ? end : start + 10})}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>


</body>
</html>